/* CSS Document
  Defines styles for elements in the topic menu system
  These are children of the topic_canvas, whose layout
  is defined in default.css
	And of the Region Zoom, which is a child of the region_button div
*/

/* Main topic menu */
.topic-menu-nav {
  background-color:#fff;
  /*float:left;*/
  list-style:none;
  margin:0;
  padding:0;
  height:41px;
  width:100%;
}
/* Main topic menu individual "tabs" */
.topic-menu-nav li {
  cursor: pointer;
}
.topic-menu-nav li:hover {
  background-color: #d8d9da;
  text-decoration: underline;
}
.topic-menu-nav > li {
  display:block;
  float:left;
  font-size:12px;
  height:40px;
  position:relative;
  /*width:33.2%;*/
  z-index:10;
  border-bottom:#d8d9da 1px solid;
}
.topic-menu-nav > li.selected {
  border: 0;
}
.topic-menu-nav > li:not(:first-child),
.topic-menu-nav > li ul li {
  border-left:#d8d9da 1px solid;
}
.topic-menu-nav > li.has-child span {
  /*background:transparent url(../images/arrows_sprite.png) no-repeat 180px -52px;*/
}
.topic-menu-nav > li.has-child:hover{
  text-decoration: none;
}
.topic-menu-nav > li.has-child:hover span {
  background-position: 180px 14px;
}
.topic-menu-nav > li:hover {
  font-weight: bold;
  /*color: red;*/
}
.topic-menu-nav > li.selected span,
.topic-menu-nav > li.selected:hover span {
  background-position: 180px -19px;
  color: #ff0000;
  font-weight: bold;
}
.topic-menu-nav li span {
  display:block;
  height:28px;
  padding:12px 5px 0;
  text-align:center;
  text-decoration:none;
  pointer-events: none;
}

/* Submenu list items */
.topic-menu-nav li.has-child ul{
  display: block;
  height: 0;
  left:-1px;
  margin: 0;
  padding: 0;
  position:absolute;
  top:40px;
  width: 100%;

}
.topic-menu-nav li.has-child ul li {
  background-color: #ffffff;
  border-bottom:1px solid #d8d9da;
  border-right:1px solid #d8d9da;
}
.topic-menu-nav li.has-child ul li {
  display:block;
  text-align: center;
  width: 100%;
  opacity: 0;
  height: 0;
  padding: 0;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s cubic-bezier(0,0,0.2,1);
  -o-transition: all .2s ease-out;

}
.topic-menu-nav li.show-menu ul li {
  height: 27px;
  opacity: 1;
  padding-top: 13px;
}
.topic-menu-nav li.has-child ul li:hover {
  background-color: #d8d9da;
}

/* Width setting on parent li elements, lifted from:
   http://lea.verou.me/2011/01/styling-children-based-on-their-number-with-css3/
   Handles up to six parent tabs. Widths are slightly below exact division
 */
 /* 1 */
.topic-menu-nav > li:only-child {
  width: 99.5%;
}
/* 2 */
.topic-menu-nav > li:nth-child(1):nth-last-child(2),
.topic-menu-nav > li:nth-child(2):nth-last-child(1) {
  width: 49.5%;
}
/* 3 */
.topic-menu-nav > li:nth-child(1):nth-last-child(3),
.topic-menu-nav > li:nth-child(2):nth-last-child(2),
.topic-menu-nav > li:nth-child(3):nth-last-child(1) {
  width: 33%;
}
/* 4 */
.topic-menu-nav > li:nth-child(1):nth-last-child(4),
.topic-menu-nav > li:nth-child(2):nth-last-child(3),
.topic-menu-nav > li:nth-child(3):nth-last-child(2),
.topic-menu-nav > li:nth-child(4):nth-last-child(1) {
  width: 24.5%;
}
/* 5 */
.topic-menu-nav > li:nth-child(1):nth-last-child(5),
.topic-menu-nav > li:nth-child(2):nth-last-child(4),
.topic-menu-nav > li:nth-child(3):nth-last-child(3),
.topic-menu-nav > li:nth-child(4):nth-last-child(2),
.topic-menu-nav > li:nth-child(5):nth-last-child(1) {
  width: 19.5%;
}
/* 6 */
.topic-menu-nav > li:nth-child(1):nth-last-child(6),
.topic-menu-nav > li:nth-child(2):nth-last-child(5),
.topic-menu-nav > li:nth-child(3):nth-last-child(4),
.topic-menu-nav > li:nth-child(4):nth-last-child(3),
.topic-menu-nav > li:nth-child(5):nth-last-child(2),
.topic-menu-nav > li:nth-child(6):nth-last-child(1) {
  width: 16.25%;
}
